<div class="card">
  <div class="card-body">
    <div class="container-fluid">
      <form [formGroup]="formgroup">
        <div class="row">
          <div class="form-group col">
            <label for="nome">Nome</label>
            <input
              type="text"
              class="form-control"
              formControlName="nome"
              aria-describedby="nomeHelp"
              placeholder="Enter name"
            />
          </div>
          <div class="form-group col">
            <label for="sex">Sex</label>
            <input
              type="text"
              class="form-control"
              formControlName="sex"
              placeholder="Sex(m or f)"
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="regione">Regione</label>
            <input
              type="text"
              class="form-control"
              formControlName="regione"
              placeholder="Regione"
            />
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-primary" (click)="conferma()">
            Conferma
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
