<div class="card" *ngIf="formgroup">
  <div class="card-body">
    <div class="container-fluid">
      <form [formGroup]="formgroup">
        <div class="row">
          <div class="form-group col">
            <label for="name">Nome</label>
            <input
              type="text"
              class="form-control"
              formControlName="name"
              aria-describedby="nameHelp"
              placeholder="Enter name"
            />
          </div>
          <div class="form-group col">
            <label for="surname">Cognome</label>
            <input
              type="text"
              class="form-control"
              formControlName="surname"
              placeholder="Surname"
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="taxCode">Tax Code</label>
            <input
              type="text"
              class="form-control"
              formControlName="taxCode"
              placeholder="Tax Code"
            />
          </div>
          <div class="form-group col">
            <label for="country">Country</label>
            <select
              class="browser-default custom-select"
              formControlName="country"
              (change)="updateRegion($event)"
            >
              <option *ngFor="let cc of allCountry" [value]="cc.iso">
                {{ cc.description }}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="city">City</label>
            <select
              class="browser-default custom-select"
              formControlName="city"
            >
              <option *ngFor="let cc of cities" [value]="cc.description">
                {{ cc.description }}
              </option>
            </select>
          </div>
          <div class="form-group col">
            <label for="province">Province</label>
            <select
              class="browser-default custom-select"
              formControlName="province"
              (change)="updateCity($event)"
            >
              <option *ngFor="let cc of regions" [value]="cc.description">{{
                cc.description
              }}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="phoneNumber">Phone Number</label>
            <input
              type="text"
              class="form-control"
              formControlName="phoneNumber"
              aria-describedby="phoneHelp"
              placeholder="Phone Number"
            />
          </div>
          <div class="form-group col">
            <label for="address">Address</label>
            <input
              type="text"
              class="form-control"
              formControlName="address"
              placeholder="Address"
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="gender">Gender</label>
            <input
              type="text"
              class="form-control"
              formControlName="gender"
              aria-describedby="genderHelp"
              placeholder="Male/Female/Other"
            />
          </div>
          <div class="form-group col">
            <label for="email">Email</label>
            <input
              type="text"
              class="form-control"
              formControlName="email"
              placeholder="email"
            />
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-primary" (click)="conferma()">
            Conferma
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
