<div *ngIf="!lista" class="row h-100 w-100 m-auto text-center">
  <h1 class="p-5 col">Loading..</h1>
</div>
<table class="table" *ngIf="lista">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th scope="col" *ngFor="let opt of options.colsOptions">
        {{ opt.label }}
      </th>
      <th *ngIf="delete"></th>
      <th *ngIf="edit"></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of lista; let i = index"
      [ngClass]="{ 'bg-primary text-white': selected[i] }"
      class=" cursor"
    >
      <th (click)="select(i)">{{ item.id ? item.id : i + 1 }}</th>
      <td (click)="select(i)" scope="row" *ngFor="let k of options.colsOptions">
        {{ item[k.name] }}
      </td>
      <td *ngIf="delete">
        <button class="btn btn-danger" (click)="onDelete(item.id)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
      <td *ngIf="edit">
        <button class="btn btn-primary" (click)="onEdit(item.id)">
          <i class="fa fa-edit"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
