<div class="card mt-3">
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col" style="overflow: auto;">
          <div class="row">
            <div class="px-3">
              <form [formGroup]="formgroup">
                <select
                  class="custom-select"
                  title="Scegli una opzione"
                  formControlName="key"
                >
                  <option value="name">Name</option>
                  <option value="surname">Surname</option>
                  <option value="taxCode">Tax Code</option>
                  <option value="country">Country</option>
                  <option value="city">City</option>
                  <option value="province">Province</option>
                  <option value="phoneNumber">PhoneNumber</option>
                  <option value="aAddress">Address</option>
                  <option value="gender">Gender</option>
                  <option value="email">Email</option>
                </select>
              </form>
            </div>
            <app-filter (onFilter)="filter($event)"></app-filter>
          </div>
          <app-datatable
            [lista]="lista"
            [options]="options"
            selectiontype="single"
            style="display: flex; flex:1"
            (selectRows)="select($event)"
            [delete]="true"
            [edit]="true"
            (onDeleteEvent)="onDeleteHandler($event)"
            (onEditEvent)="onEditHandler($event)"
          >
          </app-datatable>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-center">
          <div class="text-center">
            <button class="btn btn-primary" [routerLink]="['/dipendenti/new']">
              Aggiungi
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
